* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    line-height: 2;
}

body { 
    background: url(Images/image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin: 40px 0 0 0;
}

h1 img {
    border: solid rgb(3, 248, 23);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgb(79, 216, 67);
}

.quote {
	position: relative;
	background-color: black;
    border: solid yellow;
    box-shadow: 0 5px 35px green;
    border-radius: .4em;
    box-shadow: none;
    padding: 20px 10px;
    margin: auto;
    color: white;
}

.quote:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: yellow;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.glow {
    background-color: black;
    border: solid yellow;
    box-shadow: 0 5px 35px green;
    color: white;
    padding: 15px;
}

p {
    margin: 30px 20px 20px 20px;
    font-size: 20px;
}

h2 {
    padding-top: 25px;
    font-size: 300%;
}

h5 {
    margin: 0 0 10px 0;
    color: white;
}

.title{
    /* background-color: yellow;
    padding: 25px 15px 0 15px; */
    background-color: none;
    color: white;
}

#main-page {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#random-advice-btn, #own-advice-btn{
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 5px solid black;
    padding: 10px;
}

.box {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid yellow;
}

/* Random advice div */

.flex-column{
    display: flex;
    flex-direction: column;
}

#preview-advice{
    border: 2px yellow solid;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: black;
}

/* Own advice div */

.own-advice-div, .random-advice-div{
    justify-content: center;
    align-items: center;
}

textarea {
    width: 50%;
    height: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid yellow;
    font-size: 20px;
}

#translate-btn-1, #translate-btn-2 {
    margin-top: 40px;
    background-color:yellow;
    box-shadow: 0 5px 35px green;
    color: black;
}

.white{
    background-color: white;
}

button:hover {
    transform: scale(1.1);
}

.modal-trigger:hover {
    transform: scale(1.1);
}

/* Modal */

.modal-container{
    border-radius: 10px;
}

#modal-content{
    padding: 24px 24px 0 24px;
}

.modal-trigger{
    margin-bottom: 5%;
}

.flex-row {
    display: flex;
}

.double-center {
    justify-content: center;
    align-items: center;
}

.cute-yoda {
    transform: scaleX(-1);
    border: none;
    background-color: white;
    box-shadow: none;
    min-width: 300px;
    max-width: 300px;
}

#translated-advice {
    background-color: #00aabb;
    border: none;
    box-shadow: none;
    padding: 10px;
    text-align: center;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    padding: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

#done-btn {
    font-weight: bold;
}

/* Previous translations */
.white-background {
    background-color: #fff;
    color: black;
    padding: 15px;
}

.carousel-item{
    min-height: 100px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.hidden{
    display: none;
}