* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    line-height: 2;
}

body { 
    background: url(Images/image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 img {
    border: solid rgb(3, 248, 23);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgb(79, 216, 67);
}

.quote {
	position: relative;
	background: #10b5ac;
	border-radius: .4em;
}

.quote:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #10b5ac;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

p, h2, h5, h6 {
    background-color: #10b5ac;
    border: solid rgba(3, 248, 203, 0.72);
    box-shadow: 0 5px 35px rgb(79, 216, 67);
    color: white;
    padding: 15px;
}

p {
    margin: 30px 20px 20px 20px;
    font-size: 20px;
}

h2 {
    padding-top: 25px;
}

h5 {
    margin: 0 0 10px 0;
}

#main-page {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random advice div */

.flex-column{
    display: flex;
    flex-direction: column;
}

#preview-advice{
    border: 2px green solid;
    padding: 10px;
    color: white;
}

/* Own advice div */

.own-advice-div{
    justify-content: center;
    align-items: center;
}

textarea {
    width: 50%;
    color: white;
}

#translate-btn-1, #translate-btn-2 {
    margin-top: 40px;
}

/* Modal */

.modal-trigger{
    margin-bottom: 5%;
}

.flex-row{
    display: flex;
}

.double-center{
    justify-content: center;
    align-items: center;
}

.cute-yoda{
    transform: scaleX(-1);
    border: none;
    background-color: white;
    box-shadow: none;
}

#translated-advice{
    background-color: #00aabb;
    border: none;
    box-shadow: none;
    padding: 10px;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 25%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.hidden{
    display: none;
}