html { 
    background: url(Images/image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
    line-height: 2;
}

url {
    background-color: #ffffff; 

}

#main-page {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    background-color: #000000;
    border: solid rgb(3, 248, 23);
    box-shadow: 0 5px 35px rgb(79, 216, 67);
    

}

p {
    margin: 30px 20px 20px 20px;
    font-size: 20px;
    background-color: #10b5ac;
    border: solid rgba(3, 248, 203, 0.72);
    box-shadow: 0 5px 35px rgb(79, 216, 67);
    color: white;

}

h2, h6 {
    background-color: #10b5ac;
    color: white;
    border: solid rgba(3, 248, 203, 0.72);
    box-shadow: 0 5px 35px rgb(79, 216, 67);
}

h5 {
    margin: 0 0 10px 0;
    background-color: #10b5ac;
    color: white;
    border: solid rgba(3, 248, 203, 0.72);
    box-shadow: 0 5px 35px rgb(79, 216, 67);
}

textarea {
    width: 50%;
}

#translate-btn, .submit-btn {
    margin-top: 40px;
}

#translated-advice{
    background-color: #00aabb;
    border: none;
    box-shadow: none;
    padding: 10px;
}

#random-advice-btn {
    margin-top: 0;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-advice-div{
    margin-bottom: 5%;
}

.own-advice-div{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#preview-advice{
    border: 2px green solid;
    padding: 10px;
    color: white;
}

.submit-btn{
    background-color: rgb(51, 136, 51);
}

.hidden{
    display: none;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 25%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.cute-yoda{
    transform: scaleX(-1);
    border: none;
    background-color: white;
    box-shadow: none;
}

.modal-trigger{
    margin-bottom: 5%;
}